<!-- Task 1.2: title + meta relevante -->
    <meta charset="UTF-8">
    <meta name="author" content="Ungureanu Robert">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="TheMetalVault - magazin online de merch metal și rock: tricouri, hanorace, patch-uri, vinyl/CD/casete și accesorii.">
    <meta name="keywords"
        content="metal merch, band merch, vinyl metal, tricouri metal, tricouri trupe, hanorace metal, hanorace trupe, CD metal, casete metal, patch-uri metal, accesorii metal, colectii metal, magazin merch metal online, produse oficiale trupe, vinyl metal editie speciala, merch exclusiv, articole populare metal, noutati merch">
    <title><%= typeof titluPagina !== "undefined" ? titluPagina : "TheMetalVault" %></title>

    <!-- Task 1.4: favicon -->
    <link rel="icon" type="image/png" href="/resurse/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/resurse/ico/favicon.svg">
    <link rel="shortcut icon" href="/resurse/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#111111">
    <meta name="apple-mobile-web-app-title" content="TheMetalVault">
    <link rel="manifest" href="/resurse/ico/site.webmanifest">

    <!-- Task 2.5: Font extern Google Fonts -> Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Task 2.5: Font Awesome pentru icons (static & animat) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="/resurse/css/custom.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/resurse/css/general.css" type="text/css">
    <% if (typeof cssGalerieAnimata !== "undefined" && cssGalerieAnimata) { %>
        <link rel="stylesheet" href="/resurse/css/galerie-animata.css" type="text/css">
    <% } %>
    <link rel="stylesheet" href="/resurse/css/menu.css" type="text/css">
